body{
  background-image:url('https://wallpaperaccess.com/full/1567665.png');
  color:white;
}
h1{
  color: #c8ff00;
}
h2{
  color: #ffffff;
}
h3{
  color: #ffffff;
  font-size: 14px;
  left-margin: 10px;
  right-margin: 10px;
}
h4{
  color: #b9acac;
  font-size: 14px;
  left-margin: 10px;
  right-margin: 10px;
}
