body{
  background-image:url('https://wallpaperaccess.com/full/1567665.png');
  color:white;
}
h1{
  color: #c8ff00;
}
h2{
  color: #ffffff;
  padding-left: 25px;
  padding-right: 20px;
}
h3{
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
h4{
  color: #b9acac;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
